<h1>Task 1</h1>

## 1.Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of the given sequence is defined as follows:
## The moving average sequence has n-k+1 elements as shown below.
## The moving averages with k=4 of a ten-value sequence (n=10) is shown below:

In [19]:
# import library
import numpy as np 
import pandas as pd

# defining a function as cal_movingObj

def cal_movingObj(k):
    
    n=np.array([10,20,30,40,50,60,70,80,90,100]) # array with numbers from 10 to 1000
    
    list2=[] #empty list to be used later on
    
    for j in range(len(n)-k+1):
        list1=[]
        for i in range(j,j+k):
            list1.append(n[i])
        mo=sum(list1)/k       
        list2.append(mo) # appending moving objects to new list
    return(list2)


# calling function for K=4
print(cal_movingObj(4))

[25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]

In [20]:
#As per task calling function for k=3
print(cal_movingObj(3))

[20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0]

## Task 2:
## 1.
## How-to-count-distance-to-the-previous-zero For each value, count the difference back to the previous zero (or the start of the Series,whichever is closer)
### create a new column 'Y'
### Consider a DataFrame df where there is an integer column 'X'
### df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [21]:
df= pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]}) # dataframe created as per task

In [22]:
df.index.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [23]:
#empty list 
diff=[]
temp=0 # temporary variable 
for index,i in df.iterrows():
# here we check first condition that if element of the iterable is 0 then same should be appended to the new list    
    if i['X']==0:
        temp=index
        diff.append(i['X'])
    else:
        if index>=temp: # here we check index is greater than temp than difference should be apended.
            diff.append(index-temp)
        else:
            diff.append(index) # if index is less than temp than index should be appended
print(diff)

[0, 1, 0, 1, 2, 3, 4, 0, 1, 2]

In [24]:
df['out']=pd.Series(diff,dtype=int) # creating dataframe using input and output
df

   X  out
0  7    0
1  2    1
2  0    0
3  3    1
4  4    2
5  2    3
6  5    4
7  0    0
8  3    1
9  4    2

<h1>2.
Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.</h1>

In [26]:
# import package for datetime 
from datetime import datetime 
# datetime parser
from dateutil import parser

#creating range of dates for 201
ind_date= pd.bdate_range('2015-01-01','2015-12-31')

In [27]:
random_numbers=pd.Series(np.random.randn(len(ind_date)),index=ind_date) # indexed dates with normal distributed random numbers
random_numbers

2015-01-01    0.374852
2015-01-02    0.706232
2015-01-05   -0.071562
2015-01-06    1.374818
2015-01-07    0.548382
2015-01-08   -0.975981
2015-01-09   -1.294499
2015-01-12    0.814773
2015-01-13    0.108246
2015-01-14    0.128508
2015-01-15    1.500501
2015-01-16    0.279367
2015-01-19   -0.787236
2015-01-20   -1.084826
2015-01-21   -0.544826
2015-01-22   -0.752377
2015-01-23    0.149113
2015-01-26   -0.347257
2015-01-27   -1.659479
2015-01-28    0.042066
2015-01-29   -0.585426
2015-01-30    0.402858
2015-02-02    0.149988
2015-02-03   -0.280148
2015-02-04    0.355894
2015-02-05   -0.050347
2015-02-06   -0.396356
2015-02-09    0.585491
2015-02-10    0.473495
2015-02-11   -0.741710
                ...
2015-11-20    0.429113
2015-11-23    0.517336
2015-11-24    0.444024
2015-11-25   -1.027559
2015-11-26    0.409564
2015-11-27    0.917977
2015-11-30    0.279992
2015-12-01   -2.161950
2015-12-02    1.243936
2015-12-03   -0.789498
2015-12-04    0.132055
2015-12-07    1.955490
2015-12-08   -0.231921
2015-12-09    0.022077
2015-12-10    0.344790
2015-12-11   -1.031928
2015-12-14    0.476217
2015-12-15    0.361474
2015-12-16    0.620812
2015-12-17    0.626479
2015-12-18    2.163595
2015-12-21    0.035322
2015-12-22    0.096097
2015-12-23   -0.736558
2015-12-24    1.540226
2015-12-25    0.084948
2015-12-28   -0.084520
2015-12-29   -0.425371
2015-12-30   -0.099332
2015-12-31   -0.414674
Freq: B, Length: 261, dtype: float64

<h1>3.
Find the sum of the values in s for every Wednesday</h1>

In [28]:
# for above random dataset checking the sum of all the numbers occured on Wednesday
s=random_numbers[random_numbers.index.weekday==2].sum()

In [29]:
print(s) #print output

2.4637883406879424

<h1>4.Average For each calendar month</h1>

In [30]:
random_numbers.groupby(pd.Grouper(freq='M')).mean() #calender months with each months mean values

2015-01-31   -0.076080
2015-02-28    0.018722
2015-03-31    0.015096
2015-04-30   -0.025278
2015-05-31    0.205989
2015-06-30    0.043304
2015-07-31   -0.114869
2015-08-31   -0.044463
2015-09-30    0.081660
2015-10-31   -0.135397
2015-11-30    0.198539
2015-12-31    0.162077
Freq: M, dtype: float64

In [31]:
random_numbers.groupby(by=[random_numbers.index.month]).mean()#here only mean values for each calender month with only month no.

1    -0.076080
2     0.018722
3     0.015096
4    -0.025278
5     0.205989
6     0.043304
7    -0.114869
8    -0.044463
9     0.081660
10   -0.135397
11    0.198539
12    0.162077
dtype: float64

<h1>5.
For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.</h1>

In [32]:
random_numbers['2015-01-01':'2015-04-30'].idxmax() # for first 4 months

Timestamp('2015-03-05 00:00:00', freq='B')

In [33]:
random_numbers['2015-05-01':'2015-08-31'].idxmax()# for second 4 months May to August

Timestamp('2015-05-06 00:00:00', freq='B')

In [34]:
random_numbers['2015-09-01':'2015-12-31'].idxmax() # for third 4 months Sep to December

Timestamp('2015-12-18 00:00:00', freq='B')